.banner {
    color: white;
    font-family: 'Montserrat', 'Athiti', sans-serif;
    margin-top: 180px;
    padding-bottom: 197px;
    animation: slide 1s;
}
@keyframes slide {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.banner h2 {
    font-size: 60px;
    margin-bottom: 30px;
    text-shadow: 0 2px 2px black;
    font-family: 'Playfair Display SC', serif;
    text-align: left;
    margin-left: 100px;
    text-transform: uppercase;
}
.career ul{
    text-align: center;
    padding: 40px;
}
.career li{
    list-style-type: none;
    text-align: center;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    box-shadow: rgba(0,0,0,.7);
}
.softdev {
    display: inline-block;
    width: 90%;
    max-width: 20rem;
    margin: 1rem;
    font-size: 1rem;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.softdev:hover {
    transform: translateY(-0.5rem) scale(1.0125);
    box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}
.itsup {
    display: inline-block;
    width: 90%;
    max-width: 20rem;
    margin: 1rem;
    font-size: 1rem;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.itsup:hover {
    transform: translateY(-0.5rem) scale(1.0125);
    box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}
.career img{
    width: 30%;
}