.banner {
    color: white;
    font-family: 'Montserrat', 'Athiti', sans-serif;
    margin-top: 180px;
    padding-bottom: 197px;
    animation: slide 1s;
}
@keyframes slide {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.banner h2 {
    font-size: 60px;
    margin-bottom: 30px;
    text-shadow: 0 2px 2px black;
    font-family: 'Playfair Display SC', serif;
    text-align: left;
    margin-left: 100px;
    text-transform: uppercase;
}
.showcase ul{
    text-align: center;
    padding: 40px;
}
.showcase li{
    list-style-type: none;
    text-align: center;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    box-shadow: rgba(0,0,0,.7);
}
.card-list {
    display: block;
    margin: 1rem auto;
    padding: 0;
    font-size: 0;
    text-align: center;
    list-style: none;
}

.card {
    display: inline-block;
    width: 20%;
    max-width: 20rem;
    margin: 1rem;
    font-size: 1rem;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
    transform: translateY(-0.5rem) scale(1.0125);
    box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-description {
    display: block;
    padding: 1em 0.5em;
    color: #515151;
    text-decoration: none;
}

.card-description > h2 {
    margin: 0 0 0.5em;
}

.card-description > p {
    margin: 0;
}